name: first test

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened ]

jobs:
  test:
    runs-on: ubuntu-latest
    container: pytorch/pytorch:2.9.0-cuda12.8-cudnn9-runtime
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: pip install pytest
      - name: Test
        run: pytest test.py
