name: first test

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened ]

jobs:
  test:
    runs-on: p800_82
    timeout-minutes: 60
    #: iregistry.baidu-int.com/xmlir/xmlir_ubuntu_2004_x86_64:v0.37_base
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # - name: Install dependencies
      #   run: pip install pytest
      - name: check env
        run: |
          cat /etc/os-release
          pwd
      - name: Test
        env:  
            XPU_VISIBLE_DEVICES: "0"
            XFT_USE_FAST_SWIGLU: "1"
            XPU_USE_FAST_SWIGLU: "1"
            XMLIR_CUDNN_ENABLED: "1"
            XPU_USE_DEFAULT_CTX: "1"
            XMLIR_FORCE_USE_XPU_GRAPH: "1"
            XPU_USE_MOE_SORTED_THRES: "128"
            VLLM_USE_V1: "1"
            XMLIR_ENABLE_MOCK_TORCH_COMPILE: "false"
            USE_ORI_ROPE: "1"
        run: |
          export VLLM_HOST_IP=$(hostname -i)
          unset XPU_DUMMY_EVENT
          source /root/.bashrc
          python test.py
      